html {
    height: 100%;
}

body {
	background: #000;
	color: #ddd;
	height: 100%;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2rem;
}

body, body * {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #b7ab94;
}

a:focus {
    color: #b7ab94;
    text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h1, .h1 {
    margin-top: 90px;
    font-size: 3rem;
}

h1:after, .h1:after,
h1:before, .h1:before {
    content: '';
    display: block;
    width:100%;
    height: 30px;
    background-image: url(./img/t-separator.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 10px 0;
}

h2, .h2 {
    font-size: 2.2rem;
}

dl {
    margin: 1em 0;
}

dd {
    margin-left: 40px;
}

.wrapper {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	width: 960px;
	max-width: 100%;
	height: 100%;
}

.fullwidth {
	grid-column: 1 / 13;
}

.t-center {
	text-align: center;
}

.t-bold {
    font-weight: bold;
}

.header {
	background-image: url(./img/hero.jpg);
	height: 100%;
}

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.sitename {
	grid-column: 1 / 13;
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    text-shadow: 3px 4px 8px #7d7d7d;
    align-self: center;
    font-family: 'Amatic SC', cursive;
}

.footer {
    height: 60px;
    margin-top: 50px;
}

.footer_wrapper {
    border-top: 1px dashed #333;
    align-items: center;
}

.copyright {
    grid-column-start: 1;
    grid-column-end: 7;
}

.sitemap {
    grid-column-start: 7;
    grid-column-end: 13;
    text-align: right;
    cursor: pointer;
}

.sitemap:hover {
    color: #b7ab94;
}

.sitemap--disable {
    cursor: default;
}

.sitemap--disable:hover {
    color: inherit;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    gap: 10px;
}

.gallery_block {
    height: 150px;
}

.gallery_link {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery_image {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.gallery_image:before {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ccc;
    opacity: 0.1;
}

.gallery_image:hover:before {
    display: block;
}

.gallery_block--5 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
    height: 100%;
}

#baguetteBox-overlay .full-image figcaption {
	font-family: 'Didact Gothic', sans-serif;
}
